--extra-index-url https://us-east1-python.pkg.dev/trii-241915/trii-public-libraries/simple/

fastapi~=0.109.0
pydantic~=2.5.3
pydantic-settings~=2.1.0
SQLAlchemy~=2.0.25
aiomysql~=0.2.0
sqlmodel~=0.0.14
python-multipart

pytest~=8.0.1
httpx~=0.26.0
alembic~=1.7.7
ehandler~=0.5.1
DateTime~=4.4
aiofiles~=23.2.1
greenlet==2.0.0a2
uvicorn==0.17.6
